.home{
    background-image: url("./bg5.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h2{
    color: aliceblue;
    
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.custom-link {
   
    color: rgb(0, 213, 255); 
    text-decoration: none;
    font-weight: bold; 
    margin-right: 20px; 
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(242, 247, 250, 0.5);
}
.custom-link:hover {
    color: rgb(77, 223, 57); 
    
}

.welcome-message {
    color: #fff;
    font-size: 24px;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initial downward shift */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin-top: 11px;
}

.home:hover .welcome-message {
    opacity: 1; /* Fade in on hover */
    margin-top: 0;
}


.app-heading {
    color: #fff;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.app-heading:hover {
    color: #ffd700;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
}